*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/robots.txt
*.DS_Store
!/op-exclude.txt
!/grumphp-params.yml
!/phpstan.neon

!/.github/workflows/magento-ci.yml
!/.github/workflows/check-tailwind.yml
!/.github/static-tests/composer.json

!/tools
!/tools/**

#tailwind
/app/design/frontend/TPC/default/web/tailwind/tailwind-output.css
/app/design/frontend/TPC/default/web/css/styles.css

!/pub/
!/pub/robots.txt
!/pub/webgility/
!/pub/webgility/*
!/pub/.user.ini
!/.user.ini
!/compose.yml
!/compose.local.yml
!/compose.dev.yml.template
!/auth.json
!/Jenkinsfile
!/nginx.conf
!/d
!/d/*
!/.docker
!/.docker/*
!/app/etc/env.template.php
