.faq-list {
    list-style: none;
}

.faq-item-question {
    padding: 10px;
    color:black;
    background-color: #f0f0f0;
}

.faq-item-content {
    padding: 10px;
}

.faq-item-answer {
    margin-bottom: 10px;
}
